body {margin-left:5%;margin-right:5%;; margin-top:25px;

  background-image: linear-gradient(65deg, #DFDFDF, #FFFFFF, #DFDFDF);
  
  background-repeat: no-repeat;background-size:100%; height:2500px;
}

.breakFourty {display:block;margin-bottom:40px}
.breakFifty {display:block;margin-bottom:50px}
.breakFiftyFive {display:block;margin-bottom:55px}
.breakSeventy {display:block;margin-bottom:70px}
.breakSevenThree {display:block;margin-bottom:73px}
.breakEighty {display:block;margin-bottom:80px}
.breakNinety {display:block;margin-bottom:90px}
.breakHundred {display:block;margin-bottom:100px}
.breakOneZeroFive {display:block;margin-bottom:105px}
.breakOneFiveZero {display:block;margin-bottom:150px}
.breakTwoHundred {display:block;margin-bottom:200px}
.breakTwoFiveZero {display:block;margin-bottom:250px}


.animateIn {
  animation: into 0.5s
}
@keyframes into {
  from {opacity:0;transform:translateY(5px);}
  to {opacity:1;transform:translateY(0);}
}
.animateInTwo {
  animation: intwo 0.5s
  
}
@keyframes intwo {
  from {opacity:0;transform:translateY(15px);}
  to {opacity:1;transform:translateY(0);}
}